<div class="main">
  <igx-nav-drawer #navdrawer [enableGestures]="drawerState.enableGestures" id="navdrawer" [isOpen]="drawerState.open"
    [(pin)]="drawerState.pin" [position]="drawerState.position">

    <ng-template igxDrawer>
      <nav>
        <div class="nav-header"></div>

        <!-- Components -->
        <span igxDrawerItem [isHeader]="true">Components</span>

        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active"
        routerLink="grid-dynamic-chart-data">
         Grid
       </span>

       
       <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active"
       routerLink="hierarchical-grid">
       Hierarchical Grid
      </span>

        <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active"
          routerLink="category-chart-sample">
          Big Data
        </span>

      <span igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active"
      routerLink="financial-chart-sample">
       Performance
    </span>

      </nav>
    </ng-template>

  </igx-nav-drawer>

  <div class="main-content">
    <div class="theme-select">
        <igx-select [(ngModel)]="class">
            <label igxLabel>Theme</label>

            <igx-select-item value="default">DEFAULT</igx-select-item>
            <igx-select-item value="dark">DARK</igx-select-item>
            <igx-select-item value="dark-fluent">DARK FLUENT</igx-select-item>
            <igx-select-item value="bootstrap-dark">BOOTSTRAP DARK</igx-select-item>
        </igx-select>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
